<!DOCTYPE html>
<html lang="en">
<head>
    <!-- This is for the character encoding -->
    <meta charset="UTF-8">
    <!-- This is for IE compatibility -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- This is for mobile responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Get the title from the controller -->
    <title>Error Page</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" type="text/css" href="/styles/home.css" />
</head>
<body>
    <div class="container">
        <!-- Get the title from the controller -->
        <h2>URL Shortener</h2>
        <!-- Get the error message from the controller -->
        <p>The URL you entered does not exist!</p>
        <br />
        <!-- Link to the home page -->
        <a href="/"><span class="span-link">Visit Home Page</span></a>
    </div>
</body>
</html>