<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" type="text/css" href="/styles/home.css" />
</head>
<body>
    <div class="container">
        <h2>URL Shortener</h2>
        <p>Convert a long URLto a shortened URL in simple and easy steps!</p>
        <form action="/shortUrl" method="post">
            <input type="url" placeholder="Enter the URL" name="fullUrl" required />
            <input type="submit" value="Convert" />
        </form>
    </div>
</body>
</html>